In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from sklearn.metrics import roc_auc_score,accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt

In [2]:
n=pd.read_csv("lending_club_loan_two.csv")
print(n)

        loan_amnt        term  int_rate  installment grade sub_grade  \
0         10000.0   36 months     11.44       329.48     B        B4
1          8000.0   36 months     11.99       265.68     B        B5
2         15600.0   36 months     10.49       506.97     B        B3
3          7200.0   36 months      6.49       220.65     A        A2
4         24375.0   60 months     17.27       609.33     C        C5
...           ...         ...       ...          ...   ...       ...
396025    10000.0   60 months     10.99       217.38     B        B4
396026    21000.0   36 months     12.29       700.42     C        C1
396027     5000.0   36 months      9.99       161.32     B        B1
396028    21000.0   60 months     15.31       503.02     C        C2
396029     2000.0   36 months     13.61        67.98     C        C2

                       emp_title emp_length home_ownership  annual_inc  ...  \
0                      Marketing  10+ years           RENT    117000.0  ...
1                Credit analyst     4 years       MORTGAGE     65000.0  ...
2                   Statistician   < 1 year           RENT     43057.0  ...
3                Client Advocate    6 years           RENT     54000.0  ...
4        Destiny Management Inc.    9 years       MORTGAGE     55000.0  ...
...                          ...        ...            ...         ...  ...
396025          licensed bankere    2 years           RENT     40000.0  ...
396026                     Agent    5 years       MORTGAGE    110000.0  ...
396027              City Carrier  10+ years           RENT     56500.0  ...
396028      Gracon Services, Inc  10+ years       MORTGAGE     64000.0  ...
396029  Internal Revenue Service  10+ years           RENT     42996.0  ...

       open_acc pub_rec revol_bal revol_util total_acc  initial_list_status  \
0          16.0     0.0   36369.0       41.8      25.0                    w
1          17.0     0.0   20131.0       53.3      27.0                    f
2          13.0     0.0   11987.0       92.2      26.0                    f
3           6.0     0.0    5472.0       21.5      13.0                    f
4          13.0     0.0   24584.0       69.8      43.0                    f
...         ...     ...       ...        ...       ...                  ...
396025      6.0     0.0    1990.0       34.3      23.0                    w
396026      6.0     0.0   43263.0       95.7       8.0                    f
396027     15.0     0.0   32704.0       66.9      23.0                    f
396028      9.0     0.0   15704.0       53.8      20.0                    f
396029      3.0     0.0    4292.0       91.3      19.0                    f

       application_type  mort_acc  pub_rec_bankruptcies  \
0            INDIVIDUAL       0.0                   0.0
1            INDIVIDUAL       3.0                   0.0
2            INDIVIDUAL       0.0                   0.0
3            INDIVIDUAL       0.0                   0.0
4            INDIVIDUAL       1.0                   0.0
...                 ...       ...                   ...
396025       INDIVIDUAL       0.0                   0.0
396026       INDIVIDUAL       1.0                   0.0
396027       INDIVIDUAL       0.0                   0.0
396028       INDIVIDUAL       5.0                   0.0
396029       INDIVIDUAL       NaN                   0.0

                                                  address
0            0174 Michelle Gateway\nMendozaberg, OK 22690
1         1076 Carney Fort Apt. 347\nLoganmouth, SD 05113
2         87025 Mark Dale Apt. 269\nNew Sabrina, WV 05113
3                   823 Reid Ford\nDelacruzside, MA 00813
4                    679 Luna Roads\nGreggshire, VA 11650
...                                                   ...
396025     12951 Williams Crossing\nJohnnyville, DC 30723
396026  0114 Fowler Field Suite 028\nRachelborough, LA...
396027   953 Matthew Points Suite 414\nReedfort, NY 70466
396028  7843 Blake Freeway Apt. 229\nNew Michael, FL 2...
396029        787 Michelle Causeway\nBriannaton, AR 48052

[396030 rows x 27 columns]

In [3]:
n['loan_status'].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [4]:
X=n.drop(['loan_status'],axis=1)
y=n['loan_status']

In [5]:
n.isnull().sum()

loan_amnt                   0
term                        0
int_rate                    0
installment                 0
grade                       0
sub_grade                   0
emp_title               22927
emp_length              18301
home_ownership              0
annual_inc                  0
verification_status         0
issue_d                     0
loan_status                 0
purpose                     0
title                    1756
dti                         0
earliest_cr_line            0
open_acc                    0
pub_rec                     0
revol_bal                   0
revol_util                276
total_acc                   0
initial_list_status         0
application_type            0
mort_acc                37795
pub_rec_bankruptcies      535
address                     0
dtype: int64

In [6]:
df1=n.dropna()
df1.isnull().sum()

loan_amnt               0
term                    0
int_rate                0
installment             0
grade                   0
sub_grade               0
emp_title               0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
issue_d                 0
loan_status             0
purpose                 0
title                   0
dti                     0
earliest_cr_line        0
open_acc                0
pub_rec                 0
revol_bal               0
revol_util              0
total_acc               0
initial_list_status     0
application_type        0
mort_acc                0
pub_rec_bankruptcies    0
address                 0
dtype: int64

In [7]:
df2=df1.drop(['term','title','sub_grade','verification_status','initial_list_status','revol_util','open_acc','pub_rec','mort_acc','address','issue_d','earliest_cr_line','pub_rec_bankruptcies'],axis=1)

In [8]:
df3=df2.drop(['emp_length'],axis=1)

In [9]:
print(df3)

        loan_amnt  int_rate  installment grade                emp_title  \
0         10000.0     11.44       329.48     B                Marketing
1          8000.0     11.99       265.68     B          Credit analyst
2         15600.0     10.49       506.97     B             Statistician
3          7200.0      6.49       220.65     A          Client Advocate
4         24375.0     17.27       609.33     C  Destiny Management Inc.
...           ...       ...          ...   ...                      ...
396024     6000.0     13.11       202.49     B  Michael's Arts & Crafts
396025    10000.0     10.99       217.38     B         licensed bankere
396026    21000.0     12.29       700.42     C                    Agent
396027     5000.0      9.99       161.32     B             City Carrier
396028    21000.0     15.31       503.02     C     Gracon Services, Inc

       home_ownership  annual_inc  loan_status             purpose    dti  \
0                RENT    117000.0   Fully Paid            vacation  26.24
1            MORTGAGE     65000.0   Fully Paid  debt_consolidation  22.05
2                RENT     43057.0   Fully Paid         credit_card  12.79
3                RENT     54000.0   Fully Paid         credit_card   2.60
4            MORTGAGE     55000.0  Charged Off         credit_card  33.95
...               ...         ...          ...                 ...    ...
396024           RENT     64000.0   Fully Paid  debt_consolidation  10.81
396025           RENT     40000.0   Fully Paid  debt_consolidation  15.63
396026       MORTGAGE    110000.0   Fully Paid  debt_consolidation  21.45
396027           RENT     56500.0   Fully Paid  debt_consolidation  17.56
396028       MORTGAGE     64000.0   Fully Paid  debt_consolidation  15.88

        revol_bal  total_acc application_type
0         36369.0       25.0       INDIVIDUAL
1         20131.0       27.0       INDIVIDUAL
2         11987.0       26.0       INDIVIDUAL
3          5472.0       13.0       INDIVIDUAL
4         24584.0       43.0       INDIVIDUAL
...           ...        ...              ...
396024    11456.0        9.0       INDIVIDUAL
396025     1990.0       23.0       INDIVIDUAL
396026    43263.0        8.0       INDIVIDUAL
396027    32704.0       23.0       INDIVIDUAL
396028    15704.0       20.0       INDIVIDUAL

[335867 rows x 13 columns]

In [10]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

le=LabelEncoder()
df3['emp_title']=le.fit_transform(df3['emp_title'])
df3['home_ownership']=le.fit_transform(df3['home_ownership'])
df3['grade']=le.fit_transform(df3['grade'])
df3['loan_status']=le.fit_transform(df3['loan_status'])
df3['purpose']=le.fit_transform(df3['purpose'])
df3['application_type']=le.fit_transform(df3['application_type'])

In [11]:
X=df3.drop(['loan_status'],axis=1)
y=df3['loan_status']

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.8,random_state=42)

In [13]:
print(X_train)

        loan_amnt  int_rate  installment  grade  emp_title  home_ownership  \
206479    19400.0     11.14       636.42      1     113825               5
183040    29300.0     13.98      1001.12      2      80214               1
177719    14400.0     19.52       377.68      4     114408               5
360317     4800.0     19.05       176.08      3      63014               5
204438    32000.0      8.39      1008.54      0      87955               1
...           ...       ...          ...    ...        ...             ...
141325    13000.0     12.49       434.84      1       8478               1
305750    12000.0     11.99       398.52      1     146439               5
155548     6000.0     14.33       206.03      2     112082               1
173206    11675.0     18.24       423.49      3     130788               1
143796     7000.0     15.31       243.73      2      75577               5

        annual_inc  purpose    dti  revol_bal  total_acc  application_type
206479     55000.0        2  17.02    28201.0       27.0                 1
183040     85000.0        1  18.74    18556.0       15.0                 1
177719     50000.0        2  17.11     9076.0       16.0                 1
360317     97000.0        2  19.24    11460.0       56.0                 1
204438     76048.0        2  17.99    23050.0       30.0                 1
...            ...      ...    ...        ...        ...               ...
141325     50000.0        2  14.55    10178.0       20.0                 1
305750     50000.0        2  15.16    14894.0        8.0                 1
155548     38000.0        1  25.29    23477.0       32.0                 1
173206     56000.0        4  37.06    17619.0       26.0                 1
143796     59000.0        2  15.15    13225.0       12.0                 1

[67173 rows x 12 columns]

In [15]:
scaler=StandardScaler()
scaler_X_train=scaler.fit_transform(X_train)
scaler_X_test=scaler.transform(X_test)

In [16]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(scaler_X_train, y_train)

In [17]:
CV=StratifiedKFold(n_splits=10,shuffle=True,random_state=42)

In [18]:
model = RandomForestClassifier(n_estimators=200, max_depth=10, min_samples_split=2)

In [ ]:
model1=RandomForestClassifier()

param_grid={
    'n_estimators':[100,200,300],
    'max_depth':[5,10,15],
    'min_samples_split':[2,5,10]
}

grid_search=GridSearchCV(model1,param_grid,cv=CV,scoring='accuracy')

print(f'The model {model1} is running...')

grid_search.fit(X_resampled,y_resampled)

print(f'The {model1} is predicting...')

y_pred=grid_search.predict(scaler_X_test)

best_model=grid_search.best_estimator_

acc=accuracy_score(y_test,y_pred)
classification=classification_report(y_test,y_pred)
cm=confusion_matrix(y_test,y_pred)
print(classification)

The model RandomForestClassifier() is running...

In [ ]:
print(best_model)
print(acc)
print(cm)

In [ ]:
model.fit(scaler_X_train,y_train)

In [ ]:
y_pred=model.predict(scaler_X_test)

In [ ]:
acc=accuracy_score(y_test,y_pred)
classification=classification_report(y_test,y_pred)
cm=confusion_matrix(y_test,y_pred)
print(classification)
roc_auc=roc_auc_score(y_test,y_pred)

In [ ]:
import pickle

pickle.dump(best_model,open('model.pkl','wb'))

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

y_pred = best_model.predict(scaler_X_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))